@page "/about"
<h3>AboutPage</h3>

@code {

}
<style>
   
    p{
        text-align:left;
        font-size: 25px;
    }
</style>
<p>
    Hey y'all, it's Ismo. I’ve got some fun stuff planned for this project. I'm working on making a simple focus tool designed with neurodivergent people in mind. I want to edit the todolist into a task desk that only shows a single focus level at a time where you can choose which that is/shuffle through them. I might also add an overview panel that's toggleable if you do want to see everything. Might add some focus tools like music and a stopwatch or timer. Hope you’ll stick around. Email me at ismaeelmoskinzada10@@gmail.com to give me suggestions.
</p>
